* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo {
    margin-top: 50px;
  }

  .img {
    height: 80px;
    position: absolute;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
  }

  .welcome-text {
    margin: 95px 0px 0px -10px;
  }
  
  .welcome-text h5 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
  }

  .timer {
    text-align: center;
    padding-top: 100px;
  }

  .input-otp {
    margin-top: 50px;
  }

  .resend-otp-text {
    text-align: center;
    margin: 30px 0px 40px 0px;
  }

  .resend-otp-text a {
    text-decoration: none;
    color: #00acb0;
  }

  ion-button {
    text-align: center;
    text-transform: capitalize;
    margin: 0px 15px 0px 15px;
    --color: var(--ion-color-light);
    &[disabled] {
      --background: #b8acac;
    }
  }